<a href="https://colab.research.google.com/github/joaopedropastura/credit_score_ai/blob/main/CreaditClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -U scikit-learn
!pip install pandas
!pip install joblib

In [78]:
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from joblib import load, dump
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import re
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA

In [58]:
path = "/content/credit_score.csv"

source = pd.read_csv(path)
le = LabelEncoder()

<ipython-input-58-0f7882e52b77>:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  source = pd.read_csv(path)

In [ ]:
source = source.drop(['ID', 'Customer_ID', 'SSN', 'Credit_History_Age', 'Payment_Behaviour', 'Name', 'Type_of_Loan'], axis=1)

In [65]:
Month = source["Month"].unique()
Occupation = source["Occupation"].unique()
Credit_Mix = source["Credit_Mix"].unique()
Credit_Score = source["Credit_Score"].unique()
Payment_of_Min_Amount = source["Payment_of_Min_Amount"].unique()

In [66]:
le.fit(Month)
source['Month'] = le.transform(source['Month'])

le.fit(Occupation)
source['Occupation'] = le.transform(source['Occupation'])

le.fit(Credit_Mix)
source['Credit_Mix'] = le.transform(source['Credit_Mix'])

le.fit(Credit_Score)
source['Credit_Score'] = le.transform(source['Credit_Score'])

le.fit(Payment_of_Min_Amount)
source['Payment_of_Min_Amount'] = le.transform(source['Payment_of_Min_Amount'])

In [67]:
source["Annual_Income"] = source["Annual_Income"].str[:-1]

In [68]:
def filterAge(age):
  try:
    pattern = r'\b\d+(?:[-_]\d+)*\b\s+'
    number = re.findall(pattern, age)
    return ' '.join(number)
  except:
    return age


for elem in source:

  source[elem] = source[elem].apply(filterAge)


source

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,...,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit_Score
0,3,,12,,1824.843333,3,4,3,,3,...,,4.0,3,,26.822620,1,49.574949,,,0
1,2,,12,,NaN,3,4,3,,-1,...,,4.0,1,,31.944960,1,49.574949,,,0
2,6,,12,,NaN,3,4,3,,3,...,,4.0,1,,28.609352,1,49.574949,,,0
3,0,,12,,NaN,3,4,3,,5,...,,4.0,1,,31.377862,1,49.574949,,,0
4,7,,12,,1824.843333,3,4,3,,6,...,,4.0,1,,24.797347,1,49.574949,,,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0,,9,,3359.415833,4,6,7,,23,...,,3.0,3,,34.663572,1,35.104023,,479.866228,1
99996,7,,9,,3359.415833,4,6,7,,18,...,,3.0,3,,40.565631,1,35.104023,,496.65161,1
99997,5,,9,,3359.415833,4,6,5729,,27,...,,3.0,1,,41.255522,1,35.104023,,516.809083,1
99998,4,,9,,3359.415833,4,6,7,,20,...,,3.0,1,,33.638208,1,35.104023,,319.164979,2
99999,1,,9,,3359.415833,4,6,7,,18,...,,3.0,1,,34.192463,1,35.104023,,393.673696,1

In [75]:

for elem in source:
  source[elem].replace('', 0, inplace=True)

source = source.fillna(0)

print(source.isnull().any().sum())


source

0

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,...,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit_Score
0,3,0,12,0,1824.843333,3,4,3,0,3,...,0,4.0,3,0,26.822620,1,49.574949,0.0,0.000000,0
1,2,0,12,0,0.000000,3,4,3,0,-1,...,0,4.0,1,0,31.944960,1,49.574949,0.0,0.000000,0
2,6,0,12,0,0.000000,3,4,3,0,3,...,0,4.0,1,0,28.609352,1,49.574949,0.0,0.000000,0
3,0,0,12,0,0.000000,3,4,3,0,5,...,0,4.0,1,0,31.377862,1,49.574949,0.0,0.000000,0
4,7,0,12,0,1824.843333,3,4,3,0,6,...,0,4.0,1,0,24.797347,1,49.574949,0.0,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0,0,9,0,3359.415833,4,6,7,0,23,...,0,3.0,3,0,34.663572,1,35.104023,0.0,479.866228,1
99996,7,0,9,0,3359.415833,4,6,7,0,18,...,0,3.0,3,0,40.565631,1,35.104023,0.0,496.651610,1
99997,5,0,9,0,3359.415833,4,6,5729,0,27,...,0,3.0,1,0,41.255522,1,35.104023,0.0,516.809083,1
99998,4,0,9,0,3359.415833,4,6,7,0,20,...,0,3.0,1,0,33.638208,1,35.104023,0.0,319.164979,2
99999,1,0,9,0,3359.415833,4,6,7,0,18,...,0,3.0,1,0,34.192463,1,35.104023,0.0,393.673696,1

In [ ]:
print(source['Credit_Mix'].isin(['_1', '1_']))

In [77]:
X = source.drop('Credit_Score', axis=1)
Y = source['Credit_Score']

X_train, X_test, Y_train, Y_test = \
  train_test_split(X, Y, test_size=0.2, random_state=500)

model = DecisionTreeClassifier(max_depth=500, min_samples_split=3)

model.fit(X_train, Y_train)

Y_pred = model.predict(X_test)
Y_pred_train = model.predict(X_train)
accuracy = accuracy_score(Y_test, Y_pred)
accurac3y = accuracy_score(Y_train, Y_pred_train)

matrix = confusion_matrix(Y_test, Y_pred)


print(accuracy)
print(accurac3y)

0.6551
0.981275